.navbar-nav li button{
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 20px ;
    font-weight: bold;
    border-width: 1px;
}

.navbar-nav li button:hover{
    background-color: rgba(128, 128, 128, 0.199);
}

#sign-in-button:hover{
    background-color: rgba(115, 195, 211, 0.144);
    color: darkblue;
}

.header{
    
    font-size: 50px;
    color:rgba(128, 43, 3, 0.781);
    font-weight: 200;
    padding-top: 20px;
}

.forgot-password:hover{

    text-decoration: underline;
}

.form-control{
    padding: 15px;
}
.submit-button{
    font-weight: bold;
    border-radius: 50px;
    padding:10px;
}
.submit-button:hover{
    background-color: rgba(10, 44, 83, 0.932);
}
.submit-button-or:hover{
    background-color: rgba(169, 207, 238, 0.219);
    color: black;
}

form{
    width: 380px;
}

img{
    vertical-align: middle;
}

.form-or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #38363698; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .form-or .span-or { 
     background:#fff; 
     padding:0 10px; 
 }

 .section-two{
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(220, 220, 220, 0.39);
 }
 .topic{
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin: 5px 2px;
 }

 .topic:hover{
    background-color: rgba(169, 207, 238, 0.219);
    font-weight: bold;
    color: black;
 }

 .see-all-topics:hover{
    color: darkblue;
 }

 .section-three, .section-four, .section-five, .section-six{
    padding-top: 50px;
    padding-bottom: 50px;
 }

 .section-four, .section-seven{
    background-color: rgba(220, 220, 220, 0.39);
 }
 #more{
    display: none;
 }

 .section-five{
    background-color: rgba(150, 168, 177, 0.322);
 }
.section-six{
    padding-top: 100px;
}

.course-count{
    color: grey;
}

.dropdown-item:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}
.dropdown-menu{
    max-height: 400px;
    overflow-y: scroll;
    
}
.end-form{
    margin-top: 40px;
    width: 100%;
}
.end-btn{
    padding: 15px;
    background-color: rgba(119, 69, 69, 0.158);
    border-radius: 0px;
    width:  100%;
    font-size: larger;
    margin-top: 8px;
}
.who-is-linkedin-for{
    padding-right: 50px; 
    padding-top: 100px;
    padding-bottom: 100px;
}

 /* Media Queries */
  
@media only screen and (max-width: 790px) {
    form {
      width:100%;
    }
    .header{
        font-size: 32px;
    }
    .image1, .image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 275px;
        
    }
    .open-to-work{
        padding-top: 50px; 
    }
    .skills-to-succeed{
        padding-top: 40px;
    }
    .image5{
        display: none;
    }
  }

@media only screen and (min-width: 1180px){
    
    .navigation-bar{
        margin-left: 14%;
        margin-right: 14%;
    }
    form{
        margin-left: 28%;
    }
    .navbar-brand{
        margin-left: -10px;
    }
    .section-two, .section-three, .section-four, 
    .section-five, .section-six
    {
        padding-left: 14%;
        padding-right: 14%;
    }
    .section-seven{
        padding-left: 14%;
    }
    .open-to-work{
        padding-top: 100px;
    }
    .skills-to-succeed{
        padding-right: 250px;
    }
    .who-is-linkedin-for{
        padding-top: 14%;
    }


}

@media only screen and (min-width: 992px){
    .brand{
        width: 140px;
    }
}
