.navbar-nav li button{
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 20px ;
    font-weight: bold;
    border-width: 1px;
}

.navbar-nav li button:hover{
    background-color: rgba(128, 128, 128, 0.199);
}

#sign-in-button:hover{
    background-color: rgba(115, 195, 211, 0.144);
    color: darkblue;
}

.header{
    font-size: 55px;
    color:rgba(128, 43, 3, 0.781);
    font-weight: 200;
    padding-top: 20px;
}

.forgot-password:hover{

    text-decoration: underline;
}

.form-control{
    padding: 15px;
}
.submit-button{
    font-weight: bold;
    border-radius: 50px;
    padding:10px;
}
.submit-button:hover{
    background-color: rgba(10, 44, 83, 0.932);
}
.submit-button-or:hover{
    background-color: rgba(169, 207, 238, 0.219);
    color: black;
}

form{
    width: 380px;
}

img{
    vertical-align: middle;
}

.form-or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #38363698; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .form-or .span-or { 
     background:#fff; 
     padding:0 10px; 
 }

  
@media only screen and (max-width: 790px) {
    form {
      width:100%;
    }
    .header{
        font-size: 32px;
    }
    .image1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 275px;
        
    }
  }

@media only screen and (min-width: 1180px){
    
    .navigation-bar{
        margin-left: 10%;
        margin-right: 10%;
    }
    form{
        margin-left: 20%;
    }
    .navbar-brand{
        margin-left: -10px;
    }
}

@media only screen and (min-width: 992px){
    .brand{
        width: 140px;
    }
}
